networks:
  app_local_network:

volumes:
  db_data:
  tempo_data:
  vault_data:

services:
  db:
    image: postgres:17.5
    container_name: db-container
    restart: always
    environment:
      POSTGRES_DB: "housi_db"
      POSTGRES_USER: "housi"
      POSTGRES_PASSWORD: "secret123"
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - app_local_network

  vault:
    image: hashicorp/vault:1.21
    container_name: vault-container
    restart: unless-stopped
    cap_add:
      - IPC_LOCK
    environment:
      VAULT_DEV_ROOT_TOKEN_ID: "dev-root-token"
      VAULT_DEV_LISTEN_ADDRESS: "0.0.0.0:8200"
    ports:
      - "8200:8200"
    volumes:
      - vault_data:/vault/data
      - .docker/vault/init.sh:/vault/init.sh:ro
    entrypoint: /bin/sh
    command: >
      -c "vault server -dev -dev-root-token-id=dev-root-token &
      sleep 2 && sh /vault/init.sh && wait"
    networks:
      - app_local_network

  tempo:
    image: grafana/tempo:latest
    container_name: tempo-container
    command: [ "-config.file=/etc/tempo.yaml" ]
    volumes:
      - .docker/tempo/tempo.yaml:/etc/tempo.yaml
      - tempo_data:/var/tempo
    ports:
      - "3200:3200"   # tempo
      - "14268:14268" # jaeger ingest
      - "4317:4317"   # otlp grpc
      - "4318:4318"   # otlp http
      - "9411:9411"   # zipkin
    networks:
      - app_local_network

  grafana:
    image: grafana/grafana:11.6.0
    container_name: grafana-container
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_DISABLE_LOGIN_FORM=true
      - GF_FEATURE_TOGGLES_ENABLE=traceqlEditor
    volumes:
      - .docker/grafana/datasources:/etc/grafana/provisioning/datasources
      - .docker/grafana/provisioning/dashboards:/etc/grafana/provisioning/dashboards
      - .docker/grafana/dashboards:/var/lib/grafana/dashboards
    ports:
      - "3000:3000"
    networks:
      - app_local_network

  migrate:
    container_name: migrate-container
    build:
      args:
        UID: "${UID:-1000}"
        GID: "${GID:-1000}"
      context: .
      dockerfile: .docker/migrate/Dockerfile
    volumes:
      - .:/app
    networks:
      - app_local_network
