app:
  name: "Cerberus"
  namespace: "cerberus"
  environment: "dev"
  frontendURL: "http://localhost:3000"
rest:
  api: "localhost:4000"
  debug: "localhost:4010"
  readTimeout: "5s"
  writeTimeout: "10s"
  idleTimeout: "120s"
  shutdownTimeout: "20s"
db:
  user: "housi"
  password: "secret123"
  name: "housi_db"
  port: "5432"
  host: "localhost:5432"
  maxOpenConnections: "25"
  maxIdleConnections: "25"
  connectionIdleTime: "30s"
  disableTLS: true
  postgresImage: "postgres:17.5"
  postgresContainerName: "db-container"
vault:
  address: "http://localhost:8200"
  token: "dev-root-token"
redis:
  host: "localhost:6379"
  password: ""
  db: 0
  redisImage: "redis:7.4"
  redisContainerName: "redis-container"
kafka:
  brokers: "localhost:9092"
  addressFamily: "v4"
  securityProtocol: "PLAINTEXT"
  logLevel: 0
  maxMessageBytes: 1000000
  sessionTimeout: 6000
collector:
  host: "localhost:4317"
  probability: 1.0
  metricInterval: "30s"
email:
  host: "localhost"
  port: 1025
  username: ""
  password: ""
  from: "no-reply@cerberus.local"
  tls: false
cors:
  allowedOrigins: "*"
  allowedMethods: "GET;POST;PUT;DELETE;OPTIONS;PATCH"
  allowedHeaders: "*"
  exposedHeaders: "*"
  maxAge: "86400"
